<div [@routerTransition]>
    <app-page-header [heading]="'Business Configuration'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
            <div class="col col-sm-2">
                    <label>Screen In-progress</label>
            </div>
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-body table-responsive">
                    <label>Line Of Business : </label> &nbsp;&nbsp;
                    <select> 
                        <option >Agriculture</option>
                        <option >Retail</option>
                        <option >Finance</option>
                      </select>
                </div>
           
                <div class="card-body table-responsive">
                    <label>Group : </label>&nbsp;&nbsp; 
                    <select>
                        <option >Group 1</option>
                        <option >Group 2</option>
                        <option >Group 3</option>
                      </select>
                </div>
            </div>     
</div>
