 
<app-page-header [heading]="'Stock List'" [icon]="'fa-bar-chart-o'"></app-page-header>
<div class="row">
        <div class="col col-sm-12">
                <form>
                        <div class="row">
                                <div class="col col-sm-10">
                                </div>
                                <div class="col col-sm-2" style="float: left;">
                                        <a [routerLink]="['stockDetail', 'Add', '0']">Add Stock</a> 
                                </div>
                        </div>
                </form>
                </div>
</div>